* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}

.sketch-div {
/*         border: 1px solid red; */
        height: 15px;
        width: 15px;
    }

.grid-container {
    margin: 100px;
    display: grid;
    grid-template-columns: repeat(32, 15px);
    grid-template-rows: repeat(32, 15px);
    grid-column-gap: 1px;
    grid-row-gap: 1px;    
}