* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}

.grid-container {
    margin: 50px;
    width: 500px;
    height: 500px;
    background-color:white;
    border: 1px solid gray;
    display: grid;
    grid-template-columns: repeat(32, 1fr);
    grid-template-rows: repeat(32, 1fr);
    grid-column-gap: 1px;
    grid-row-gap: 1px;    
}

.sketch-div {
    background-color: lightgray;
    border: 1px solid gray;
}

.sketch-div.selectedSD {
    background-color: firebrick;
}

.palette-container {
    margin: 50px;
    width: 500px;
    height: 100px;
    background-color:white;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 1px;
    grid-row-gap: 1px;    
}

.color-div  {
    border: 1px solid gray
}

#rand-col {
    border: 1px solid gray;
    text-align: center;
}
