* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}

body {
    height: 100vh;
    width: 100vw;
    min-width: 925px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: linen;
}

.header {
    flex: 1 1 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.main-heading {
    padding: 10px;
    font-size: 36pt;
    font-weight: bold;
}

.sub-heading {
    padding-bottom: 10px;
    font-size: 16pt;
    font-weight: 100;
}

.footer {
    flex: 1 1 auto;
    padding: 20px;
    font-size: 10pt;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
}
.eas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.eas-bg {
/*     flex-shrink: 0; */
    width: 725px;
    height: 745px;
    background-image: url(images/background_square.png);
    background-size: cover;
}

.grid-container {
    margin: 95px 0px 0px 97px;
    width: 535px;
    height: 535px;
    border: 1px solid gray;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(25, 1fr);
    grid-template-rows: repeat(25, 1fr);
    grid-gap: 1.5px;
}

.tools {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.palette-container {
    width: 150px;
    height: 500px;
    flex-shrink: 0;
    opacity: 0.8;
    border: 1px solid gray;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
}


.color-div  {
    border: 1px solid gray
}

.selected {
    transition: all .3s ease;
    transform: scale(1.05);
    box-shadow: 0 0 1rem lime;
}

#rand-col {
    border: 1px solid gray;
    display: flex;
    font-weight: bolder;
    justify-content: center;
    font-size: 48px;
    align-items: center;
    text-align: center;
}
#rainbow {
    border: 1px solid gray;
    text-align: center;
    background-image: url(images/rainbow.png);
    background-size: cover;
}

#eraser {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(images/vecteezy_icon-vector-of-eraser-line-style_2.png);
    background-size: 73px;
}

.canvas-container {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    
}

#slider-value {
    font-size: 20px;
    font-weight: bold;
}

#canvasBTN {
    padding: 5px;
    background-color: rgb(212, 212, 212);
    box-shadow: 0 0 1rem rgb(95, 95, 95);
    border-radius: 5px;
    font-weight: bold;
    opacity: 0.6;
}

.shake {
    animation: shake 0.5s;
    animation-iteration-count: 1;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }